flows.json
[{"id":"7bbc1ba9.1fd204","type":"tab","label":"First Flow"},{"id":"4a7f8e1.2500a7","type":"http in","z":"7bbc1ba9.1fd204","name":"Request","url":"/test","method":"get","swaggerDoc":"","x":94.5,"y":92,"wires":[["ae1fef16.6d2bc"]]},{"id":"c8f9f739.d77918","type":"http response","z":"7bbc1ba9.1fd204","name":"Yo Mama","x":489.5,"y":226,"wires":[]},{"id":"ae1fef16.6d2bc","type":"function","z":"7bbc1ba9.1fd204","name":"Set Payload","func":"msg.payload = {\n    \"user\": \"scott\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":286.5,"y":385,"wires":[["c8f9f739.d77918"]]}]